data/all-config.json
data/node_modules/*
worker/node_modules/*
server/node_modules/*
data/all-config.json
server/app.js
server/routes/index.js
server/views/layouts/main.handlebars
worker/user-worker.js