server/node_modules/*
data/node_modules/*
worker/node_modules/*
.idea/CS554.iml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/jsLibraryMappings.xml

data/node_modules/
data/npm-debug.log
server/node_modules/
worker/node_modules/

.idea
.idea/*
