body {
	margin: 0;
	width: 100%;
    background-color: black;
}

canvas {position: absolute;z-index: -1;}

.float-left, .floatL {
	float: left;
}

.float-right, .floatR {
	float: right;
}

.clearR {
    clear:right;
}
.chart
{
	width:48%;
	display:inline-block;
	font-size:35px;
	color:black;
	background-color:#FFFFFF;
	padding:20px;
	margin:10px;
	border-radius: 10px;
	height:450px;
}