<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monthly View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">

    
    
    
    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body style="margin-top:100px">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">MATRIX</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="about.html">Analytics Page</a></li>
            <li><a href="#works">Logout/Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
                    <h2>Welcome to</h2>
					<h1>MATRIX</h1>
					<h2>Your Moview Network</h2>
				</div>
			</div><! --/row -->
	    </div> <!-- /container -->
	</div><! --/headerwrap -->

    <!--<div style="width:auto;" class="row">
        <img style="width:auto;" src="/getbanner" alt="/getbanner">
    </div>-->
    <!-- ****************************************** -->
    <!---->
    <!-- 
    ****************************************** -->
    <!--<div>
        <div class="container carousel">
      <div class="row">

        <div class="col-md-3">
            <div class="ca-hover">
            <div class="carousel-img">
                <img src="https://robohash.org/dolordolorenobis.png?size=150x150&set=set1" alt="Carousel Img">
            </div>
            <div class="carousel-avatar av4">
            </div>
            <div class="carousel-content">
                <h3>Lorem ipsum dolor sit amet consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis suscipit est, ut imperdiet tortor. Proin sed molestie massa.</p>
            </div>
            <div class="overlay"></div>
            </div>
        </div>
        
      </div>
    </div> 
        <span class="prev"><i class="fa fa-angle-left fa-4x"></i></span>
        <span class="next"><i class="fa fa-angle-right fa-4x"></i></span>
    </div>-->
    <div>
        <u><center><h2>Your Playlist </h2></center></u>          
        <span class="prev"><i class="fa fa-angle-left fa-4x"></i></span>
        <div id="userplaylist">
        </div>
        <span class="next"><i class="fa fa-angle-right fa-4x"></i></span>
    </div>
    
    <table class="table">
        <tr>
            <td>
                <u><center><h2> Search Movies </h2></center></u>  
            </td>
        </tr>
        <tr>
            <td>
                <div class="container" style="{display: flex;flex-wrap: nowrap;flex-direction: row;width: auto;}">
                    <div class="input-group">
                        <input type="text"
                                id="txtMovie" 
                                class="form-control" 
                                placeholder="Movie Name" 
                                aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <input type="text"
                                id="txtActor" 
                                class="form-control" 
                                placeholder="Actor/Actress" 
                                aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <input type="text"
                                id="txtDirector" 
                                class="form-control" 
                                placeholder="Director" 
                                aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <input type="text"
                                id="txtGenre" 
                                class="form-control" 
                                placeholder="Genre" 
                                aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <input type="text"
                                id="txtYear" 
                                class="form-control" 
                                placeholder="Release Year" 
                                aria-describedby="basic-addon1">
                    </div>
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                <div>

            </td>
        </tr>
   
        <tr>
            <td>
                <div id="lstSearchResult">
                </div>
            </td>
        </tr>
   
   </table>
   <script type="text/javascript" src="/assets/build/bundle.js"></script>
</body>
</html>